@model Dfe.EarlyYearsQualification.Web.Models.Content.StaticPageModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl" id="static-page-heading">@Model.Heading</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <div class="govuk-body govuk-!-margin-bottom-7" id="static-page-body">@Html.Raw(Model.BodyContent)</div>
    </div>
</div>
